<!-- wp:template-part {"slug":"header"} /-->

<main class="wp-block-group container mx-auto max-w-6xl px-4 md:px-8 py-[var(--hr)] pt-[calc((var(--hr)/2)+var(--headerHeight))] mt-[0]! min-h-[var(--contentHeight)] relative z-1 content">
	<!-- wp:post-title {"level":1,"className":"page-title min-md:max-w-75/100 min-lg:max-w-66/100 text-[length:var(--h1)]/[var(--lineHeightHeader)] text-[var(--title-color)] mb-4 md:mb-8 xl:mb-12 relative"} /-->
	<!-- wp:post-content /-->
</main>

<!-- wp:template-part {"slug":"footer"} /-->
